---
import { groupedPosts } from '@/utils/getPosts'

import BaseLayout from '@/layouts/BaseLayout.astro'
import ArticleHeader from '@/components/ArticleHeader.astro'
---

<BaseLayout title="Collections">
  <ArticleHeader title="Collections" />
  {
    Array.from(groupedPosts, ([collection, group]) => (
      <section>
        <h2>{collection}</h2>
        <ul>
          {Array.from(group, ([label, posts]) => (
            <li>
              <a href={`/${collection}/${label}/1`}>
                <span>{label}</span>
                <i>﹝{posts.length}﹞</i>
              </a>
            </li>
          ))}
        </ul>
      </section>
    ))
  }
</BaseLayout>

<style>
  section {
    margin: 1.5rem;

    h2 {
      font-size: 1.3rem;
      font-weight: 600;
      color: var(--c-text-bland);
      cursor: default;
    }

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 1rem;
      padding: 0.5rem;

      li a {
        display: flex;
        place-items: center;
        place-content: center;

        span {
          font-size: 1.2rem;
          color: var(--c-text);
        }

        i {
          font-style: normal;
          font-size: 1rem;
          font-weight: 600;
          color: var(--c-text-bland);
        }

        &:hover {
          span {
            transform: scale(1.05);
          }
        }
      }
    }
  }
</style>
