---
import { groups } from '@/utils/getContents'

import GeneralLayout from '@/layouts/General.astro'
---

<GeneralLayout title="Collections">
  <h1>Collections</h1>
  {
    groups.map(({ path: groupPath, title, group }) => (
      <section>
        <h2>{title}</h2>
        <ul>
          {group.map(({ path: collectionPath, title, collection }) => (
            <li>
              <a href={`/${groupPath}/${collectionPath}/1`}>
                <span>{title}</span>
                <i>﹝{collection.length}﹞</i>
              </a>
            </li>
          ))}
        </ul>
      </section>
    ))
  }
</GeneralLayout>

<style>
  h1 {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--c-text);
    text-align: center;
    text-wrap: balance;
    padding: 0.25rem 1rem;
    cursor: default;
  }

  section {
    margin: 1.5rem;

    h2 {
      font-size: 1.3rem;
      font-weight: 600;
      color: var(--c-text-bland);
      cursor: default;
    }

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 1rem;
      padding: 0.5rem;

      li a {
        display: flex;
        place-items: center;
        place-content: center;

        span {
          font-size: 1.2rem;
          color: var(--c-text);
        }

        i {
          font-style: normal;
          font-size: 1rem;
          font-weight: 600;
          color: var(--c-text-bland);
        }

        &:hover {
          span {
            transform: scale(1.05);
          }
        }
      }
    }
  }
</style>
