---
import type { HTMLAttributes } from 'astro/types'

import FormattedCategory from './utils/FormattedCategory.astro'
import FormattedDate from './utils/FormattedDate.astro'

interface PostListItem {
  link: string
  title: string
  description?: string
  category?: string
  pubDate?: Date
}

interface Props extends HTMLAttributes<'ul'> {
  list: PostListItem[]
}

const { list, ...props } = Astro.props
---

<ul {...props}>
  {
    list.map(({ link, title, description, category, pubDate }) => (
      <li>
        <a href={link}>
          <h4>{title}</h4>
          {description && <p>{description}</p>}
        </a>
        <div>
          {category && <FormattedCategory category={category} />}
          {pubDate && <FormattedDate date={pubDate} />}
        </div>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    list-style: none;
    color: var(--c-text);
    cursor: default;

    li {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      & > a {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h4 {
          font-size: 1.25rem;
          font-weight: 500;
        }

        p {
          font-size: 1rem;
          font-weight: 400;
        }
      }

      & > div {
        display: flex;
        flex-wrap: wrap;
        place-content: space-between;
        font-weight: 400;
        font-size: 0.9rem;
        gap: 0.5rem;

        & > * {
          padding: 0 0.5rem;
        }

        a {
          background-color: var(--c-bg-mute);
          border-radius: 0.25rem;
        }
      }
    }
  }
</style>
