---
import type { HTMLAttributes } from 'astro/types'

import FormattedCategories from './utils/FormattedCategories.astro'
import FormattedDate from './utils/FormattedDate.astro'

interface PostListItem {
  link: string
  title: string
  description?: string
  categories?: string[]
  date?: Date
}

interface Props extends HTMLAttributes<'ul'> {
  list: PostListItem[]
}

const { list, ...props } = Astro.props
---

<ul {...props}>
  {
    list.map(({ link, title, description, categories, date }) => (
      <li>
        <a href={link}>
          <span>{title}</span>
        </a>
        {description && <div>{description}</div>}
        {(categories ?? date) && (
          <div>
            {date && <FormattedDate date={date} />}
            {categories && <FormattedCategories categories={categories} />}
          </div>
        )}
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    color: var(--c-text);
    cursor: default;

    li {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      & > a {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-size: 1.2rem;
        font-weight: 500;
      }

      & > div {
        display: flex;
        flex-wrap: wrap;
        font-weight: 400;
        font-size: 1rem;
        gap: 1rem;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
</style>
