---
import type { ComponentProps } from 'astro/types'

import GeneralLayout from './General.astro'
import FormattedCategories from '@/components/utils/FormattedCategories.astro'
import FormattedDate from '@/components/utils/FormattedDate.astro'

import '@/styles/markdown.css'
import 'katex/dist/katex.css'

type Props = ComponentProps<typeof GeneralLayout> & {
  categories?: string[]
  pubDate?: Date
  updDate?: Date
  readingTime?: import('reading-time').ReadingTimeResult
}

const { title, description, categories, pubDate, updDate, readingTime } = Astro.props
---

<GeneralLayout {title} {description}>
  <h1>{title}</h1>
  <div>
    {
      categories && (
        <span>
          Category: <FormattedCategories categories={categories} />
        </span>
      )
    }
    {
      pubDate && (
        <span>
          Publish: <FormattedDate date={pubDate} />
        </span>
      )
    }
    {
      updDate && (
        <span>
          Update: <FormattedDate date={updDate} />
        </span>
      )
    }
    {
      readingTime && (
        <span>
          Words: {readingTime.words.total} ({readingTime.minutes} min read)
        </span>
      )
    }
  </div>
  <article
    data-pagefind-meta={`title:${title}`}
    data-pagefind-sort={[
      pubDate && `pubdate:${pubDate.toISOString()}`,
      updDate && `upddate:${updDate.toISOString()}`,
    ].join(', ')}
    data-pagefind-filter={categories && `category:${categories.join(', ')}`}
    data-pagefind-body
  >
    <slot />
  </article>
  <div>
    <span>
      This article is licensed under <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://creativecommons.org/licenses/by-nc-sa/4.0">CC BY-NC-SA 4.0</a
      >.
    </span>
  </div>
</GeneralLayout>

<style>
  article {
    margin: 1rem 0 2rem;
  }

  h1 {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--c-text);
    text-align: center;
    text-wrap: balance;
    padding: 0.25rem 1rem;
    cursor: default;
  }

  div {
    text-align: center;
    display: flex;
    place-items: center;
    place-content: center;
    flex-wrap: wrap;
    gap: 0.25rem 1rem;
    padding: 0.25rem 1rem;
    font-size: 0.9rem;
    color: var(--c-text);
    cursor: default;

    a:hover {
      text-decoration: underline;
    }
  }
</style>
