---
import { ClientRouter } from 'astro:transitions'
import { i18n } from 'astro:config/server'

import { title as siteTitle, description as siteDesc, author, nav, beian } from 'virtual:config'

import LoadingProgress from '@/components/LoadingProgress.astro'

import Head from '@/components/base/Head.astro'
import Header from '@/components/base/Header.astro'
import Main from '@/components/base/Main.astro'
import Footer from '@/components/base/Footer.astro'

import Gtag from '@/components/Gtag.astro'

import { getMetaTags } from '@/utils/opengraph'

import '@/styles/global.css'

interface Props {
  title?: string
  description?: string
}

const {
  props: { title, description },
  site,
  url,
  currentLocale,
} = Astro

const canonicalURL = new URL(url.pathname, site ?? url)
---

<!doctype html>
<html lang={currentLocale}>
  <Head title={title ? `${title} | ${siteTitle}` : siteTitle} description={description ?? siteDesc} {author}>
    {
      getMetaTags({
        type: url.pathname.startsWith('/posts/') ? 'article' : 'website',
        url: canonicalURL,
        title: title ?? siteTitle,
        description: description ?? siteDesc,
        sitename: siteTitle,
        image: {
          url: new URL('./og.png', canonicalURL.href.replace(/(?<!\/)$/, '/')),
          type: 'image/png',
          width: 1200,
          height: 630,
          alt: title ?? siteTitle,
        },
        locale: i18n && {
          default: i18n.defaultLocale,
          alternate: i18n.locales.map(locale => (typeof locale === 'string' ? locale : locale.path)),
        },
      }).map(attrs => <meta {...attrs} />)
    }

    <link rel="canonical" href={canonicalURL} />
    <link rel="icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="alternate" type="application/rss+xml" title={siteTitle} href={URL.parse('/rss.xml', site)} />

    <Gtag />

    <slot name="head" />

    <ClientRouter />
  </Head>
  <body>
    <LoadingProgress />
    <Header class="container" logo={siteTitle} {nav} />
    <Main class="container">
      <slot />
    </Main>
    <Footer class="container" {author} {beian} />
  </body>
</html>

<style>
  html {
    accent-color: var(--c-primary);
    direction: ltr;
    font: normal 1rem/1.5 var(--font-default);
    font-optical-sizing: auto;
    interpolate-size: allow-keywords;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    overflow-anchor: auto;
    overflow: hidden auto;

    body {
      width: 100vw;
      padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
      background: var(--c-bg);
    }
  }

  .container {
    margin: 0 auto;
    max-width: 50rem;
    padding: 1rem;
  }
</style>
