---
import type { ComponentProps } from 'astro/types'
import { title as siteTitle, nav, author, beian } from 'virtual:config'

import BaseLayout from './Base.astro'

import Logo from '@/components/Logo.astro'
import NavBar from '@/components/NavBar.astro'
import FooterInfo from '@/components/FooterInfo.astro'

type Props = ComponentProps<typeof BaseLayout>

const { title, ...props } = Astro.props
---

<BaseLayout title={title && `${title} | ${siteTitle}`} {...props}>
  <header>
    <Logo logo={siteTitle} />
    <NavBar links={nav} />
  </header>
  <main>
    <slot />
  </main>
  <footer>
    <FooterInfo {author} {beian} />
  </footer>
</BaseLayout>

<style>
  header {
    margin: 0 auto;
    max-width: 50rem;
    position: sticky;
    top: 0;
    background: var(--c-bg);
    display: flex;
    place-items: center;
    place-content: space-between;
    gap: 1rem;
    padding: 1rem;
  }

  main {
    margin: 0 auto;
    max-width: 50rem;
    min-height: 75vh;
    padding: 1rem;
  }

  footer {
    margin: 0 auto;
    max-width: 50rem;
    padding: 1rem;
  }
</style>
